<html>
<body>
<div class="main-content main-content-bg">
  <div class="row">
    <div class="small-7 small-centered columns">
        <h2 class="bit-text arcade-header"> <%= @game.name.split('-').map(&:titleize).join('-') %> </h2>
          <div class="card">
            <img src="http://images.freeimages.com/images/premium/large-thumbs/1695/16954158-retro-arcade-machine.jpg">
            <div class="card-section smaller-text">
              <h5 class="arcade-info">test</h5>
              <h5 class="arcade-info">test</h5>
              <h5 class="arcade-info">test</h5>
              <h5 class="arcade-info">test</h5>
              <h5 class="arcade-info">test</h5>
            </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="main-content main-content-bg">

<h2 class="bit-text arcade-header"> Arcades</h2>
<h4 class="smaller-text arcade-header"> Quantity: <%=@arcadegames.count%> <%="machine".pluralize(@arcadegames.count)%> across <%=@game.arcades.distinct.count%> <%="Arcade".pluralize(@game.arcades.distinct.count)%></h2>

<div class="row large-up-2 small-up-1 medium-up-1 ">


<%@game.arcades.distinct.each do |arcade|%>
<%@gamecount = @arcadegames.select{|num| num.arcade_id == arcade.id}.uniq.count%>
<div class="column column-block">
    <%= link_to arcade_path(arcade.id) do %>
      <div class="card">
        <img src="http://images.freeimages.com/images/premium/large-thumbs/1695/16954158-retro-arcade-machine.jpg">
        <div class="card-section">
          <h4 class="smaller-text"><%=arcade.name%></h4>
          <h5 class="arcade-info"><%=arcade.street1%></h5>
          <h5 class="arcade-info"><%=arcade.street2%></h5>
          <h5 class="arcade-info"><%=arcade.city%></h5>
          <h5 class="arcade-info"><%=arcade.state%></h5>
          <h5 class="arcade-info"><%=arcade.zip%></h5>
      </div>
    </div>

  </div>


  <% end %>
<% end %>
</div>
</div>
</body>
</html>
