<div class="main-content main-content-bg">
  <div class="row large-up-2 small-up-1 medium-up-1 ">
    <div class="column column-block">
      <h2 class="smaller-text"><%=@arcade.name.split('-').map(&:titleize).join('-')%></h2>
        <div class="card">
          <img src="http://images.freeimages.com/images/premium/large-thumbs/1695/16954158-retro-arcade-machine.jpg">
          <div class="card-section smaller-text">
            <h5 class="arcade-info"><%=@arcade.street1%></h5>
            <h5 class="arcade-info"><%=@arcade.street2%></h5>
            <h5 class="arcade-info"><%=@arcade.city%></h5>
            <h5 class="arcade-info"><%=@arcade.state%></h5>
            <h5 class="arcade-info"><%=@arcade.zip%></h5>
          </div>
        </div>
      </div>
    </div>
</div>

<br>

<div class="main-content main-content-bg">
<div class="row">
  <h2 class="smaller-text" style="margin-left: 24px;">Games<span class="right" style="margin-right: 11px">Working?</span></h2>

    <div style="margin-left: 20px;">
        <% unless @arcadegames.all.empty? %>
          <%@arcadegames.all.select(:game_id).distinct.each do |arcadegame| %>
            <p class=smaller-text>
              <%= link_to "#{arcadegame.game.name.split('-').map(&:titleize).join('-')}", game_path(arcadegame.game_id), class: "button" %>
                <span class="right" style="margin-right: 20px"><%=@arcadegames.select{|num| num.game_id == arcadegame.game_id}.uniq.count%>
              <%=arcadegame.game.working?%></span></p>
          <%end%>
      <%else%>
      <p class="smaller-text"><%="No games yet. Be the first to add one!!!"%></p>
      <%end%>
    </div>
  </div>
  <div class="row">
      <div class="small-6 small-offset-3 columns">
  <% if signed_in?%>
  <h1 class=smaller-text>Add a game</h1>
  <%= render "games/form", arcade: @arcade, game: @game %>
  <%end%>
    </div>
  </div>
</div>
